body, html
{
    margin: 0;
    font-family: verdana;
    font-size: 12px;
    background-color: #0F0F0F;
}

a
{
    outline: none;
    border: 0;
    color: #606060;
    text-decoration: none !important;
}

a:-webkit-any-link 
{
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

a:hover
{
    color: #b36f1d !important;
    text-shadow: 0px 0px 1px #b36f1d;
}

p
{
    color: #c1b575;
}

span
{
    color: #c1b575;
}

.container, .db-input-container
{
    text-align: center;
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 25%;
}

#error
{
    color: red !important;
    margin-bottom: 1em;
}

.welcome-msg
{
    height: 64px;
    line-height: 64px;
    overflow: auto;
    color: #996019;
    text-shadow: 2px 2px #000000;
    border-box: none;
    text-align: center;
}

#login-form
{
    text-align: center;
}

#login-form div span
{
    color: #606060;
    text-shadow: 1px 1px #000000;
}

#btn-logout, #btn-back
{
    display: block;
    margin: 0.5em auto auto 0.5em;
}

input
{
    border: none;
    background-color: rgb(250, 255, 189);
    width: 175;
    height: 29px;
    color: #000000;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 4px;
    outline: none;
    text-align: center;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

button
{
    background: #1c1c1c;
    background: -moz-linear-gradient(top, #1c1c1c 0%, #1a1a1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#1a1a1a));
    background: -webkit-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
    background: -o-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
    background: -ms-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
    background: linear-gradient(to bottom, #1c1c1c 0%,#1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#1a1a1a',GradientType=0 );
    text-shadow: 2px 2px 2px #202020;
    color: #999;
    font-size: 14px;
    width: 175px;
    height: 42px;
    border-radius: 4px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover
{
    background: linear-gradient(to bottom, #262626 0%,#1a1a1a 100%);
}

#response-container
{
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
}

table
{
    box-shadow: 0 0 15px black;
    width: 100%;
}

table, th, td
{
    border: 1px solid #31170a;
    border-collapse: collapse;
}

th, td 
{
    padding: 5px;
    text-align: right;
}

tr:nth-child(even) 
{
    background-color: #0e0e0e;
}

tr:nth-child(odd) 
{
   background-color:#0f0f0f;
}

th    
{
    background-color: #31170a;
    color: #778536;
}

tr
{
    color: #c1b575;
}

ul
{
    margin: 0;
}

ul li
{
    margin: auto 1em auto 1em;
    display: inline-block;
    list-style: none;
}

ul li a
{
    display: block;
    line-height: 2em;
    overflow: auto;
    color: #996019 !important;
    text-shadow: 2px 2px #000000;
    font-size: 15px;
}

.input-form, .update-form, .delete-form
{
    border: 1px solid #1e1e1e;
    box-shadow: 1px 1px 55px black;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 240px;
}

.input-form
{
    height: 530px;
}

.update-form
{
    height: 603px;
}

.delete-form
{
    height: 155px;
}

.input-form input, .update-form input, .delete-form input
{
    width: 175px;
    margin-bottom: 1%;
}

.input-form button, .update-form button, .delete-form button
{
    margin-top: 8%;
    width: 210px;
}

.update-form-container #load input
{
    max-width: 115px;
}

#preview h3
{
    margin: 0;
    color: #996019 !important;
}

#preview p
{
    margin-top: 0;
}