*
{
    font-size: 16px;
    font-family: verdana;
    font-weight: bold;
    color: rgb(227, 230, 88);
    line-height: 1.5;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}


body
{
    background-image: url("../resources/bg.png");
    text-align: center;
    justify-content:center;
}

a
{
    text-decoration: none;
    font-family: ubuntu mono;
    color: #ac141b !important;
}

a:hover
{
    text-decoration: underline;
}

span
{
    text-shadow: 0px 0px 7px rgba(255, 0, 0, 0.8);
    font-size: 16px;
    font-family: impact;
    color: #e3e658;
}

img
{
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px black;
}