*
{
    font-family: "verdana";
}

body
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    text-decoration: underline;
}

.top-bar
{
    background: #2D1152;
    position: fixed;
    width: 100%;
}

.top-bar-element
{
    padding-right: 1em;
    margin-left: 1em;
}

.top-bar-lang-element
{
    position: relative;
    right: 0.5%;
    float: right;
}

.top-bar-lang-element img
{
    max-width: 30px;
    max-height: 20px;
}

.dropdown
{
    color: white;
    position: relative;
    display: inline-block;
}


.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown-content > a
{
    color: #1D1DA3 !important;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.search-bar
{
    padding-top: 1em;
    text-align: center;
    background-color: white;
    height: 50px;
    position: fixed;
    z-index: -1;
    width: 100%;
}

.search-bar *
{
    display: inline;
}

.mail-bar
{
    position: fixed;
    width: 100%;
    text-align: right;
    list-style: none; 
    padding-left: 0em;    
}

.mail-bar li
{
    display: inline;
    padding: 0 10px;
}

.mail-bar li a
{
    text-decoration: none;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.mail-bar .navbar-item a
{
    background: url("../resources/placeholder_img.png") no-repeat transparent;
    background-size: 20px 20px;
}

.side-bar
{
    margin: auto;
    margin-left: 2em;
    margin-top: 3em;
    position: fixed;
    float: left;
    list-style: none;
}

.navlinks
{
    margin-left: 1em;
    margin-top: 30em;
    position: fixed;
    float: left;
    list-style: none;
}

.navlink-item
{
    position: relative;
    padding-left: 1em;
    background-size: 20px 20px;    
    color: #1D1DA3;    
}

.sep1
{
    position: fixed;
    margin-top: 29.7em;
    margin-left: 5em;
    float: left;
    width: 80px;
}

.sep2
{
    position: fixed;
    margin-top: 34.7em;
    margin-left: 5em;
    float: left;
    width: 80px;
}

.set-homepage
{
    position: fixed;
    margin-top: 35.5em;
    margin-left: 4.3em;
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 2px;
    background: linear-gradient(#8639A3, #420190);
}

.navlink-item a
{
    color: #1D1DA3;
}

.side-bar li
{
    padding-top: 1em;
}

.navbar-item a
{
    position: relative;
    background: url("../resources/placeholder_img.png") no-repeat transparent;
    padding-left: 2em;
    background-size: 20px 20px;    
    color: #1D1DA3;
}

.poptarget a
{
    font-size: 12px;
    position: relative;
    color: #1D1DA3;
}

.slideshow 
{
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 4em auto;
}

.slideshow-widget
{
    padding-top: 20em;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 0;
    width: 100%;
    list-style: none;
}

.slideshow-item1
{
    position: relative;
    display: inline;
    border: 1px solid #DDDDDD;
    width: 10px;
    height: 10px;    
}

.slideshow-item2
{
    position: relative;
    display: inline;
    border: 1px solid #DDDDDD;
    width: 10px;
    height: 10px;    
}

.slideshow-item3
{
    position: relative;
    display: inline;
    border: 1px solid #DDDDDD;
    width: 10px;
    height: 10px;    
}

.slideshow-item4
{
    position: relative;
    display: inline;
    border: 1px solid #DDDDDD;
    width: 10px;
    height: 10px;    
}

.slideshow-item5
{
    position: relative;
    display: inline;
    border: 1px solid #DDDDDD;
    width: 10px;
    height: 10px;    
}

.slideshow-item1 a
{
    color: #324FE1;
    text-align: center;
    font-size: 15px;
}

.slideshow-item2 a
{
    color: #324FE1;
    text-align: center;
    font-size: 15px;
}

.slideshow-item3 a
{
    color: #324FE1;
    text-align: center;
    font-size: 15px;
}

.slideshow-item4 a
{
    color: #324FE1;
    text-align: center;
    font-size: 15px;
}

.slideshow-item5 a
{
    color: #324FE1;
    text-align: center;
    font-size: 15px;
}

.picture1
{
    top: -260px;
    left: 65px;
    position: absolute;
    z-index: -2;
}

.picture2
{
    top: -260px;
    left: -39px;
    position: absolute;
    display: none;
    z-index: -2;
}

.picture3
{
    top: -260px;
    left: -150px;
    position: absolute;
    display: none;
    z-index: -2;
}

.picture4
{
    display: none;    
    top: -260px;
    left: -350px;
    position: absolute;
    z-index: -2;
}

.picture5
{
    display: none;
    top: -260px;
    left: -549px;
    position: absolute;
    z-index: -2;
}

.container 
{
    width: 100%;
    height: 100%;
    position: relative;
}

.tag 
{
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    background-color: #F1F1F1;
    width: 635px;
    height: 15%;
    color: #324FE1;
    font-weight: bold;
    text-align: center;
}

.slideshow-item1:hover .picture1
{
    display: block;
}

.slideshow-item2:hover .picture2
{
    display: block;
}

.slideshow-item3:hover .picture3
{
    display: block;
}

.slideshow-item4:hover .picture4
{
    display: block;
}

.slideshow-item5:hover .picture5
{
    display: block;
}

.news-list
{
    position: relative;
    list-style-type: none;
    margin: auto;
    margin-left: 44em;
    margin-top: -8em;
    overflow: none;
    height: 40px;
    width: 550px;
    background-color: #500095;
}

.news-list li
{
    margin-top: 7px;
    display: inline-block;
}

.news-list li a
{
    color: white;
    text-align: center;
    padding-right: 2em;
    text-decoration: none;
}

.news-content1, .news-content2, .news-content3, .news-content4, .news-content5
{
    display: none;
    position: absolute;
    height: 40px;
    width: 550px;
    list-style-type: none;
}

.news-content1 li, .news-content2 li, .news-content3 li, .news-content4 li, .news-content5 li
{
    margin-left: -5em;
    margin-top: 1.2em;
    position: relative;
}

.news-content1 li div a, .news-content2 li div a, .news-content3 li div a, .news-content4 li div a, .news-content5 li div a
{
    font-weight: bold;
    color: #324FE1;
}

.news-list li ul li div img
{
    width: 100px;
    height: 100px
}

.news-item1:hover .news-content1
{
    position: absolute;
    margin-left: 0px;
    display: block;
}

.news-item2:hover .news-content2
{
    position: absolute;
    margin-left: -116px;
    display: block;
}

.news-item3:hover .news-content3
{
    position: absolute;
    margin-left: -197px;
    display: block;
}

.news-item4:hover .news-content4
{
    position: absolute;
    margin-left: -278px;
    display: block;
}

.news-item5:hover .news-content5
{
    position: absolute;
    margin-left: -431px;
    display: block;
}

.source-tag
{
    color: #1E7D8E;
}
