body, html
{
    background-color: #fafafc !important;
}

*
{
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: Verdana;
}

.fixed-top
{
    position: fixed;
    width: 1080px;
    marin: auto;
    z-index: 100;
}

.top-bar
{
    width: 1920px;
    font-size: 13px;
}

.top-bar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 23px;
    overflow: hidden;
    background-color: #2d1152;
}

.top-bar ul .home a
{
    position: relative;
    bottom: 2px;
}

.top-bar ul .home img
{
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
}

.top-bar ul li
{
    float: left;
}

.top-bar ul li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

.top-bar ul li:hover a
{
    text-decoration: underline;
}

.top-bar .more .dropdown
{
    position: fixed;
}

.top-bar .more .dropdown .dropdown-container
{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 1px;
    background-color: #fafafc;
    min-width: 120px;
    min-height: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-container li a
{
    color: #1d1da3 !important;
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
}

.dropdown-container li > a:hover
{
    text-decoration: underline;
}

.more:hover .dropdown .dropdown-container
{
    display: block;
}

.top-bar .lang
{
    float: right;
    margin-right: 10px;
}

.top-bar .lang img
{
    width: 20px;
    height: 13px;
}

.search-sign-in-bar
{
    background-color: #fafafc;
    height: 60px;
    padding-left: 26em;
    margin: auto;
    width: 1920px;
}

.search-sign-in-bar .logo
{
    text-decoration: none;
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    color: #5500c2;
    font-size: 44px;
}

.search-sign-in-bar .search
{
    float: left;
    margin: 7px 0 0 0;
}

.search-sign-in-bar .search .search-input
{
    border: 1px solid #3372e0 !important;
    border-radius: 2px;
    height: 32px;
    width: 480px;
}

.search-sign-in-bar .search .search-button 
{
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(76, 102, 215);
    box-shadow: inset 0px -3px 0px 0px rgba(36, 67, 124, 1);
    width: 116px;
    height: 34px;
}

.mail
{
    position: relative;
    padding-top: 1em;
    left: 22.8em;
}

.mail img
{
    width: 1.25em;
    height: 1.25em;
}

.mail a
{
    text-decoration: none;
}

.mail *
{
    display: inline-block;
}

.side-menu
{
    position: fixed;
    max-width: 150px;
    margin-left: 25.3em;
    padding-top: 5.2em;
}

.side-bar
{
    max-width: 150px;
    list-style-type: none;
}

.side-bar li img
{
    width: 15px;
    height: 15px;
}

.side-bar li:hover a
{
    text-decoration: underline;
}

.side-bar li a
{
    display: inline-block;
    color: #1d1da3;
    margin: 1px 16px;
    text-decoration: none;
}

.more-info a
{
    text-decoration: none;
    padding-left: 1.5em;
    color: #1d1da3;
    font-size: 11px;
}

.more-info:hover a
{
    text-decoration: underline;
}

.sep
{
    margin-left: 1em;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    width: 100px;
    height: 1px;
    background-color: black;
    opacity: 0.1;
}

.affiliate-links
{
    list-style-type: none;
    padding-left: 1.5em;
}

.affiliate-links li a
{
    color: #1d1da3;
    text-decoration: none;
}

.affiliate-links li:hover
{
    text-decoration: underline;
}

.homepage
{
    font-size: 14px;
    width: 130px;
    height: 60px;
    display:flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 2px;
    background: linear-gradient(#8639A3, #420190);
}

.homepage a
{
    color: white;
    text-decoration: none;
}

.slideshow
{
    position: relative;
    z-index: 0;
    top: 7em;
    left: 35em;
    max-width: 634px;
}

.item
{
    padding-left: 0.11em;
    cursor: pointer;
    max-height: 75px;
    margin-top: 18.7em;
    display: inline-block;
}

.container 
{
    border: 1px solid #DDDDDD;
    width: 120px;
    height: 75px;
    position: relative;
}

.tag 
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 40%;
    color: #1D1DA3;
    font-weight: bold;
    text-align: center;
}

.item-image
{
    position: absolute;
    top: -0.3em;
    bottom: 0;
}

.item-image > div
{
    border: 1px solid #DDDDDD;
    width: 630px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.image-tag 
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 40%;
    font-weight: bold;
    text-align: center;
}

.image-tag a
{
   text-decoration: none;
   color: black;
}

.image-tag .title
{
    color: #324fe1;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.image-tag .read-more
{
    color:#324fe1;
}

.image-container2
{
    left: -127px;
}

.image-container3
{
    left: -255px;
}

.image-container4
{
    left: -382px;
}

.image-container5
{
    left: -509px;
}

.image-container2, .image-container3, .image-container4, .image-container5
{
    display: none;
}

.item:hover .container .tag .line
{
    position: relative;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #500095;
}

.item:hover .tag
{
    text-decoration: underline;
}

.image-tag:hover
{
    background-color: rgba(255, 255, 255, 1);
}

.item:hover .item-image > div
{
    display: block;
}

.articles
{
    position: absolute;
    margin-top: 8em;
    margin-left: 35em;
    width: 634px;
    background-color: #500095;
    height: 30px;
}

.article-item
{
    display: inline-block;
}

.article-tag
{
    padding-top: 5px;
    padding-left: 10px;
    color: #b68ee7;
    margin-right: 15px;
    cursor: pointer;
}

.article-item ul
{
    top: 30px;
    position: absolute;
    left: 0;
    width: 634px;
    list-style-type: none;
}

.article-item .article-container
{
    position: relative;
    display: inline-block;
}

.icon-details
{
    margin-top: 0.5%;
    margin-left: 0.5%;
    float: left; 
    height: 70px;
    width: 70px; 
}

.article
{
    height: 90px;
    border: 1px solid #dfdee3;
    display: inline-block;
    margin-bottom: -0.2%;
}

.article-synopsis
{   
    margin-top: 0.23%;
    margin-left: 75px;
}

.article-synopsis a
{
    color: #324fe1;
    text-decoration: none;
    font-weight: bold;
}

.article-desc
{
    font-size: 0.9em;
}

.article-source
{
    color: #1e7d8e;
    font-size: 0.8em;
}

.article-context1, .article-context2, .article-context3, .article-context4, .article-context5
{
    display: none;
}

.article-item:hover ul
{
    display: block;
}

.article-item:hover .article-tag
{
    color: white;
}

.trending-now
{
    position: relative;
    float: right;
    right: 12em;
    bottom: 17em;
    width: 500px;
    height: 177px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.flavor-text
{
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.8em;
}

.sorted-list
{
    counter-reset: item;
    list-style-type: none;
    top: 1em;
    left: 0.5em;
    position: relative;
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    columns: 2;
    column-gap: 50px;
}

.sorted-list li
{
    padding-bottom: 0.3em;
    counter-increment: item;
}

.sorted-list li:before
{
    content: counter(item) ' ';
}

.sorted-list li a
{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #324fe1;
}

.sorted-list li:hover a
{
    text-decoration: underline;
}

.yahoo-video
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    float: right;
    left: 19.4em;
    bottom: 2em;
    width: 500px;
    height: 470px;
    background-color: white;
}

.category p
{
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    opacity: 0.5;
}

.video-list
{
    position: relative;
    width: 100%;
    padding-left: 3.5em;
    list-style-type: none;
}

.video-list li
{
    display: inline-block;
    margin-right: 1em;
}

.video-list li img
{
    width: 111px;
    height: 63px;
    display: block;
}

.video-list li a
{
    color: #324fe1;
    text-decoration: none;
    word-wrap: break-word;
}

.video-list li:hover a
{
    text-decoration: underline;
}

.yahoo-video input
{
    margin-top: 2em;
    margin-left: 0.80em;
    height: 1.7em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 95%;
}

.flickr
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    float: right;
    top: 31.5em;
    left: 50.8em;
    width: 500px;
    height: 470px;
    background-color: white;    
}

.flickr-desc
{
    padding-top: 1em;
    padding-left: 0.5em;
    color: grey;
}

.flickr-desc a
{
    text-decoration: none;
    color: #324fe1;
}

.flickr-desc a:hover
{
    text-decoration: underline;
}

.flickr-container
{
    width: 500px;
}

.flickr-container ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.flickr-container ul li
{
    position:relative;
    top: 1em;
    left: 4.6%;
    margin-right: -7px;
    margin-top: -5px;
    display: inline-block;
}

.flickr-container ul li a img
{
    border: 1px solid white;
    width: 90px;
    height: 90px;
}

.flickr .flickr-link
{
    text-decoration: none;
    color: #324fe1;
    position: relative;
    top: 1.2em;
    left: 0.5em;
}

.flickr .flickr-link:hover
{
    text-decoration: underline;
}

.footer
{
    position: relative;
    float: right;
    top: 34em;
    right: 9.2em;
}

.footer ul, .footer a img
{
    display: inline-block;
}

.footer ul
{
    width: 500px;
    list-style-type: none;
}

.footer ul li
{
    margin-right: 1.4em;
    display: inline-block;
}

.footer ul li a
{
    font-size: 12px;
    text-decoration: none;
    color: #324fe1;
}

.footer a img
{
    position: relative;
    right: 3em;
    width: 40px;
    height: 40px;
}