body
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 50px;
    text-align: right;
    /* disabling text highlight (so blurred text can't be highlighted) */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

#menu-wrapper
{
    position: absolute;
    margin-left: 2em;
    top: 50%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li 
{
   color: transparent;
   text-shadow: 0 0 10px rgba(255, 118, 64, 0.8);
}

li:hover
{    
    cursor: default;
    color: #FF7640;
    transform: scale(1.5);
    text-shadow: none;
}