body
{
    background-image: url(../resources/bg.png);
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    color: #40B6FF;
    text-shadow: 0px 0px 5px #029EFF;
    text-align: center;
}

a
{
    text-decoration: none;
    color: #FFFFFF;
}