*
{
    background-image: url(../resources/bg.png);
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #40B6FF;
}

#slideshow
{
    text-align: center;
    position: absolute;
    top: 25%;
    width: 100%;
    margin: auto;
}

#slideshow > img
{
    width: 640px;
    height: 360px;
    box-shadow: 0px 0px 55px red;
    z-index: -1;
}

a
{
    text-decoration: none;
}

.inputs
{
    position: relative;
    top: 2em;
}

.inputs > *
{
    position: relative;
    margin-top: 1em
}

#delay
{
    width: 40px;
}

input:focus
{
    outline-width: 0;
}