body
{
    background-image: url("../resources/bg.png");
    font-family: verdana;
    font-size: 13px;
}

table
{
    box-shadow: 0 0 15px black;
    width: 100%;
}

table, th, td
{
    border: 1px solid #113148;
    border-collapse: collapse;
}

th, td 
{
    padding: 5px;
    text-align: right;
}

tr:nth-child(even) 
{
    background-color: #eeeeee;
}

tr:nth-child(odd) 
{
   background-color:#ffffff;
}

th    
{
    background-color: #113148;
    color: white;
}

.btn
{
    text-align: center;
}

button:focus
{
    outline-width: 0;
}

.delete 
{
    -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
    background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
    background-color: #f24537;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #d02718;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #810e05;
}

.delete:hover 
{
    cursor: pointer;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
    background: -moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
    background-color: #c62d1f;
}

.delete:active 
{
    position: relative;
    top: 1px;
}

.add 
{
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #77d42a;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #268a16;
    display: inline-block;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #aade7c;
}

.add:hover 
{
    cursor: pointer;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color: #5cb811;
}

.add:active 
{
    position: relative;
    top: 1px;
}